<!DOCTYPE html>
<html>
<head>
	<title>Flask API</title>
</head>
<body>
	<div>
		<form enctype="multipart/form-data" action="/predict-image" method="POST">
	        <input type="file" name="image">
	        <button type="submit"> Submit</button>
	    </form>
	    {% if results %}
	    		<div>
	    			<img src="{{results.image}}" width = "300" height="200">
	    		</div>
	    		<div>
	    			<p>Caption Generated:</p>
	    			<p>{{results.description}}</p>
	    		</div>
	    {% endif %}
	</div>
	<div>
		<div>
			<form enctype="multipart/form-data" action="/predict" method="POST">
			<input type="text" placeholder="Search" name="text" id="text">
			<button type="submit">Submit</button>
		  </form>
		</div>
	</div>
</body>
</html>